header{
    font-size: 50px;
    color: green;
    font-family: "Helvetica", -apple-system, sans-serif;
    margin: auto;
    text-align: center;
}

.centerMain{
    font-size: larger;
    text-align: center;
}

a:link{
    text-decoration: none;
    text-align: center;
    color: blue;
}

.listTxt{
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-size: large;
}