body{
    background-color: rgb(197, 122, 18);
}
.center{
    text-align: center;
    color:blueviolet;
    text-shadow: 0 0 1px black;
}
.hobbyOne{
    padding-left: 30px;
    padding-bottom: 10px;
    font-family: Lobster;
}
.hobbyTwo{
    padding-left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hobbyThree{
    padding-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bottomImg{
    width: 320px;
}
a:hover {color: rgb(143, 216, 6);}
a:visited{color: red;}
a{
    text-decoration: none;
}
